<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ task.title }}</h1>
    <p><strong>Опис:</strong> {{ task.description }}</p>
    <p><strong>Статус:</strong> {{ task.status }}</p>
    <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
    <a href="{% url 'task_update' task.id %}">Редагувати</a>
    <a href="{% url 'task_list' %}">Назад до списку</a>
</body>
</html>
